themes {
  kanagawa {
    bg "#DCD7BA"
    fg "#1F1F28"
    black "#090618"
    red "#e82424"
    green "#98bb6c"
    yellow "#e6c384"
    blue "#7fb4ca"
    magenta "#938aa9"
    cyan "#7aa89f"
    orange "#FFA066"
    white "#dcd7ba"
  }
}
